.content--container {
  display: flex;
}

.bismillah--container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  transform: rotate(270deg);
  font-size: 4rem;
  height: 100px;
  margin-top: 250px;
}

.flip {
  transform: rotate(90deg);
  right: -20px;
  top: 100px;
  margin-top: 250px;
}

.content--tabell--overskrift {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100rem;
  color: #3b9c0fff;
  font-size: 30px;
  padding-right: 30px;
}

.content--tabell--row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid brown;
}

.content--tabell--row p {
  width: 18.75rem;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin: 5px;
}

.jump {
  animation: bounce;
  animation-duration: 2s;
}

.bønn--navn {
  font-size: 40px;
  font-weight: bold;
  width: 20.75rem;
}

.vipps {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
