body {
  font-family: "Monda", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //background-color: rgb(198.6 88.7% 48.4%);
  background-color: #bae6fd;
}

.app--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  padding: 0px;
}

.moske {
  width: 40px;
}
