.time {
  font-size: 6rem;
  padding: 20px 100px;
}

.date {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header--timedate {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 20px;
  width: 1450px;
}

.symbol {
  height: 40px;
  position: absolute;
  bottom: 0;
}

.s1 {
  left: 0;
}
.s2 {
  left: 45%;
}
.s3 {
  right: 0;
}
